version: '3.1'
services:
  mysql:
    image: mysql
    container_name: gestionedudb
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - dbescuelas:/var/lib/mysql


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-escuelas
    links:
      - mysql
    environment:
      PMA_HOST: gestionedudb
      PMA_PORT: ${MYSQL_PORT}
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - "8081:80"
  
  apirest:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    container_name: apirest
    ports: 
      - "8000:8000"
    expose: 
      - "8000"
    depends_on: 
      - mysql
    restart: always    


volumes:
  dbescuelas:
 













