version: '3.1'
services:
  mysql:
    image: mysql
    container_name: gestion_escuelas_dbmysql
    ports:
      - "3307:3306"
    expose:
      - "3307"
    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - dbescuelas:/var/lib/mysql


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-escuelas
    links:
      - mysql
    environment:
      PMA_HOST: gestion_escuelas_dbmysql
      PMA_PORT: ${MYSQL_PORT}
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - "8081:80"

volumes:
  dbescuelas:
 













